<f:layout name="Default"/>

<f:section name="Title">
    <img src="{f:uri.resource(path: 'resource://Flowpack.Neos.Matomo/Public/Images/matomo-white.svg')}"
         alt="Matomo Logo">
</f:section>
<f:section name="Content">
    <br>
    <div class="neos-row-fluid">
        <div class="neos-span6">
            <h2>Configuration</h2>
            <br>
            <div class="neos-control-group">
                <strong>Host:</strong>
                {settings.host}
            </div>

            <div class="neos-control-group">
                <strong>Protocol:</strong>
                {settings.protocol}
                <span data-toggle="modal" class="neos-inline neos-button neos-button-small"
                      href="#protocol-modal">?</span>
            </div>

            <div class="neos-hide" id="protocol-modal">
                <div class="neos-modal">
                    <div class="neos-modal-header">
                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                        <div class="neos-header">Warning</div>
                    </div>
                    <div class="neos-subheader">
                        <p>
                            Be aware that using <b>HTTP</b> for communication with your Matomo host
                            <b>{settings.host}</b> will result in your super user's auth_token being transmitted as an
                            unencrypted URL parameter!
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="neos-modal-footer">
                        <a href="#" class="neos-button" data-dismiss="modal">OK</a>
                    </div>
                </div>
                <div class="neos-modal-backdrop neos-in"></div>
            </div>

            <div class="neos-control-group">
                <strong>Token:</strong>
                {settings.token_auth}
            </div>
        </div>

        <div class="neos-span6 neos-pull-right">
            <h2>Matomo Host Information</h2>
            <br>
            <div class="neos-control-group">
                <strong>IP Address:</strong>
                <f:if condition="{matomoHost.ip.value}">
                    <f:then>
                        {matomoHost.ip.value} <i class="icon icon-check-circle-o"></i>
                    </f:then>
                    <f:else>
                        <i>Could not retrieve IP</i> <i class="icon icon-exclamation-triangle"></i>
                    </f:else>
                </f:if>
            </div>

            <div class="neos-control-group">
                <strong>Version:</strong>
                <f:if condition="{matomoHost.version.value}">
                    <f:then>
                        {matomoHost.version.value} <i class="icon icon-check-circle-o"></i>
                    </f:then>
                    <f:else>
                        <i>Could not retrieve version</i> <i class="icon icon-exclamation-triangle"></i>
                    </f:else>
                </f:if>
            </div>

            <div class="neos-control-group">
                <strong>Sitename:</strong>
                <f:if condition="{matomoHost.site.0}">
                    <f:then>
                        {matomoHost.site.0.name} <i class="icon icon-check-circle-o"></i>
                    </f:then>
                    <f:else>
                        <i>{matomoHost.site.message}</i> <i class="icon icon-exclamation-triangle"></i>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
