<div class=" neos-module-container">
    <fieldset class="neos-row-fluid">
        <div class="neos-span12">
            <legend>Piwik Site <b>{piwikSite.name}</b></legend>
            <small>created on <i>{piwikSite.ts_created}</i></small>
            <br>
            <br>
            <f:form.hidden name="piwikSite[idSite]" value="{piwikSite.idSite}" />
            <f:form.hidden name="piwikSite[type]" value="{type}" />
            <f:form.hidden name="piwikSite[startDate]" value="{ts_created}" />
            <f:form.hidden name="piwikSite[group]" value="{group}" />
            <f:form.hidden name="piwikSite[excludedUserAgents]" value="{excluded_user_agents}" />

            <div class="neos-row-fluid">
                <div class="neos-span12">
                    <div class="neos-control-group">
                        <div class="neos-span6">
                            <label class="neos-control-label" for="name">Name</label>
                            <div class="neos-controls">
                                <f:form.textfield name="piwikSite[siteName]" value="{piwikSite.name}" id="name" class="neos-span12" />
                            </div>
                        </div>
                        <div class="neos-span6">
                            <label class="neos-control-label" for="main_url">Main URL</label>
                            <div class="neos-controls">
                                <f:form.textfield name="piwikSite[urls]" value="{piwikSite.main_url}" id="main_url" class="neos-span12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neos-row-fluid">
                <div class="neos-span12">
                    <br>
                    <br>
                    <div class="neos-control-group">
                        <div class="neos-span3">
                            <div class="neos-controls">
                                <label class="neos-control-label neos-pull-left" for="keep_url_fragment">Page URL fragments</label>&nbsp;
                                <f:form.radio name="piwikSite[keepURLFragments]" value="1" id="keep_url_fragment" checked="{piwikSite.keep_url_fragment} == 1" /> yes
                                <f:form.radio name="piwikSite[keepURLFragments]" value="0" id="keep_url_fragment" checked="{piwikSite.keep_url_fragment} == 0" /> no

                            </div>
                        </div>
                        <div class="neos-span8">
                            <p>
                                Keep Page URL fragments when tracking Page URLs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neos-row-fluid">
                <div class="neos-span12">
                    <br>
                    <br>
                    <div class="neos-control-group neos-row-fluid">
                        <div class="neos-span6">
                            <label class="neos-control-label" for="excluded_ips">Excluded IPs</label>
                            <f:form.textarea name="piwikSite[excludedIps]" value="{piwikSite.excluded_ips}" id="excluded_ips" class="neos-span12" rows="3" />
                        </div>
                        <div class="neos-span6">
                            <p>
                                <br>
                                Enter the list of IPs, one per line, that you wish to exclude from being tracked by Piwik. You can use wildcards, eg. 1.2.3.* or 1.2.*.*
                                <br>
                                <br>
                            </p>
                            <p>
                                Your current IP address is <b>{clientIP}</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neos-row-fluid">

                <div class="neos-span12">

                    <div class="neos-control-group neos-span6">
                        <label class="neos-control-label" for="excluded_parameters">Excluded Parameters</label>
                        <div class="neos-controls">
                            <f:form.textarea name="piwikSite[excludedQueryParameters]" value="{piwikSite.excluded_parameters}" id="excluded_parameters" class="neos-span12" rows="3"/>
                        </div>
                    </div>
                    <div class="neos-span6">
                        <p>
                            <br>
                            Enter the list of URL Query Parameters, one per line, to exclude from the Page URLs reports.
                            <br>
                            <br>
                            Piwik will automatically exclude the common session parameters (phpsessid, sessionid, ...).
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="neos-row-fluid">
                <br>
                <br>
                <h3>Site Search</h3>
                <br>
            </div>
            <div class="neos-row-fluid">
                <div class="neos-control-group neos-span2">
                    <div class="neos-controls">
                        <label class="neos-control-label neos-pull-left" for="siteSearch">Suche</label>&nbsp;
                        <f:form.radio name="piwikSite[sitesearch]" value="1" id="sitesearch" checked="{piwikSite.sitesearch} == 1" /> yes
                        <f:form.radio name="piwikSite[sitesearch]" value="0" id="sitesearch" checked="{piwikSite.sitesearch} == 0" /> no
                    </div>
                </div>
                <div class="neos-span10">
                    <p>
                        You can use Piwik to track and report what visitors are searching in your website's internal search engine.
                        <br>
                        <br>
                    </p>

                </div>
            </div>

            <div class="neos-row-fluid">
                <div class="neos-span12">
                    <br>
                    <br>
                    <div class="neos-control-group">
                        <div class=" neos-span4">
                            <label class="neos-control-label" for="timezone">Time Zone</label>
                            <div class="neos-controls">
                                <f:form.textfield name="piwikSite[timezone]" value="{piwikSite.timezone}" id="timezone" class="neos-span12" />
                            </div>
                        </div>
                        <div class="neos-span8">
                            <p>
                                <br>
                                Choose a city in the same time zone as you.
                                Current time is <b><f:format.date date="{currentTime}" format="Y-m-d H:i:s"></f:format.date></b>
                                Changing your time zone will only affect data going forward, and will not be applied retroactively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neos-row-fluid">
                <div class="neos-span12">
                    <br>
                    <br>
                    <div class="neos-control-group">
                        <div class="neos-span4">
                            <label class="neos-control-label" for="currency">Currency</label>
                            <div class="neos-controls">
                                <f:form.textfield name="piwikSite[currency]" value="{piwikSite.currency}" id="currency" class="neos-span12" />
                            </div>
                        </div>
                        <div class="neos-span8">
                            <p>
                                <br>
                                The Currency symbol will be displayed next to Goals revenues.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </fieldset>
</div>
<div class="neos-footer">
    <f:link.action action="index" class="neos-button">Cancel</f:link.action>
    <f:form.submit value="Save Site" class="neos-button neos-button-primary" />
</div>